/* Styling for the count label */
#count-label {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

/* Center the button container */
#button-container {
    text-align: center;
    margin-top: 50px;
}

/* Styling for the buttons */
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(210, 50%, 50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

/* Hover effect for buttons */
.buttons:hover {
    background-color: hsl(210, 50%, 40%);
}
